<h2>Show Tag</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @tag.name %>
  </li>

  <li>
    <strong>Display name:</strong>
    <%= @tag.display_name %>
  </li>

  <li>
    <strong>Featured image:</strong>
    <%= @tag.featured_image %>
  </li>

  <li>
    <strong>Excerpt:</strong>
    <%= @tag.excerpt %>
  </li>

</ul>

<span><%= link "Edit", to: tag_path(@conn, :edit, @tag) %></span>
<span><%= link "Back", to: tag_path(@conn, :index) %></span>
