<div class="page">

  <div class="content">
    <h1>連絡して contact.</h1>
    <a class="page__link" href="<%= page_path(@conn, :homepage) %>">to homepage.</a>

    <p>My name is Julius.</p>

    <p>I am contactable via email. I am also highly stalkable via social media.</p>

    <p>julius.reade @ gmail . com</p>

  </div>
</div>