<div class="flex items-center justify-center h-75">
    <h1 class="f-5 lh-title">hi my name is julius and I make things.</h1>
</div>

<%= render_partial "category_enum.html", %{categories: @categories, conn: @conn} %>
