@import 'page.scss';
@import 'common.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  overflow-y: hidden;
  width: 100%;
}


// CATEGORY 


.category__outer {

  .category__individual {

    .category__header {
      color: white;

      overflow: hidden;
      height: 8rem;
      
      position: relative;

      .category__display__name {
        margin: 0;

        font-size: 6rem;
                
        position: absolute;
        top: -40px;

        text-shadow: 2px 2px #9c3fff;
        
      }
      
      .category__description__background {
        position: absolute;
        top: 70px;
        left: 20px; 

        height: 3rem;
        width: 100%;
        background: black;
        // opacity: 0.8;
      }

      .category__description {
        margin-left: 2rem;
      }  
    }
  }
}


// PROJECT

.project__outer {    
  position: relative;

  display: flex;
  height: 30rem;
  overflow-y: auto;

  border-top: 1px solid white; 
  border-bottom: 1px solid white; 
}


.project__outer__colour {
  position: absolute;
  top: 0;
  left: 0;

  height: 52%;
  width: 90px;
}

.project__individual:last-child {
  border-right: 1px solid white;         
}

.project__individual {
  // background-image: url("../images/cool/cool1.jpg");

  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);

  background: white;
  // background: lightgrey;

  
  border-left: 1px solid white; 

  transform: skew(-20deg);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  

  .project__background__image {
    background: grey;

    position: absolute;
    top: 10px;
    left: -10px;
    height: 95%;
    width: 100%;
  }

  .project__display__name {          
    transform: skew(20deg) rotate(-65deg) translate3d( 0, 0, 0);
    text-align: center;
    width: 250px;

    -moz-white-space: pre-wrap;
    -o-white-space: pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

    font-size: 1.5rem;
  }  

  .project__year {
    position: absolute;
    right: 30px;
    text-align: center;
  
    transform: skew(20deg) rotate(-65deg) translate3d( 0, 0, 0);
    width: 100px; 
    
    color: white;
    
  }

  .project__number {
    
  }
}


.category__description__background__hero {
  background: white!important;

  .category__description {
    text-shadow: 3px 3px #9c3fff;
    color: black;
  }
}

.category__display__name__hero {
  top: 50px!important;
}

.project__year__hero {
  right: -50px!important;
  width: 250px!important;
  // text-align: right!important;
}

.category__header__hero,
.project__outer__hero__colour,
.project__outer__hero {
  background: black;


  .project__individual:hover {
    background: black;
    border-left: 1px solid black;
  }
  .project__individual:hover > .project__display__name {
    color: black;
  }
  .project__individual {
    border-right: 1px solid black;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline black;
  }
}


.category__header__programming,
.project__outer__programming__colour,
.project__outer__programming {
  background: cyan;

  .project__individual:hover {
    background: cyan;
    border-left: 1px solid cyan;
  }
  .project__individual:hover > .project__display__name {
    color: cyan;
  }
  .project__individual {
    border-right: 1px solid cyan;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline cyan;
  }
}


.category__header__writing,
.project__outer__writing__colour,
.project__outer__writing {
  background: yellow;

  .project__individual:hover {
    background: yellow;
    border-left: 1px solid yellow;
  }
  .project__individual:hover > .project__display__name {
    color: yellow;
  }
  .project__individual {
    border-right: 1px solid yellow;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline yellow;
  }
  
}


.category__header__youtube,
.project__outer__youtube__colour,
.project__outer__youtube {
  background: #ff00f6;  

  .project__individual:hover {
    background: #ff00f6;
    border-left: 1px solid #ff00f6;
  }
  .project__individual:hover > .project__display__name {
    color: #ff00f6;
  }
  .project__individual {
    border-right: 1px solid #ff00f6;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline #ff00f6;
  }
}

.category__header__podcast,
.project__outer__podcast__colour,
.project__outer__podcast {
  background: #3afa14;  

  .project__individual:hover {
    background: #3afa14; 
    border-left: 1px solid #3afa14;
  }
  .project__individual:hover > .project__display__name {
    color: #3afa14;
  }
  .project__individual {
    border-right: 1px solid #3afa14;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline #3afa14;
  }
}


.category__header__radio,
.project__outer__radio__colour,
.project__outer__radio {
  background: #7C24FD;

  .project__individual:hover {
    background: #7C24FD;
    border-left: 1px solid #7C24FD;
  }
  .project__individual:hover > .project__display__name {
    color: #7C24FD;
  }
  .project__individual {
    border-right: 1px solid #7C24FD;    

    .project__display__name {
      color: white;
    }
  }

  .category__description {
    text-decoration: underline #7C24FD;
  }
  
}