@import 'page.scss';
@import 'common.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
}

.category__container {
  overflow-y: hidden;
  width: 100%;

  background-image: url("../images/cool/cool1.jpg");
  background-position: bottom left;
  background-size: contain;
}


// CATEGORY 


.category__outer {
  .category__individual__top {
    margin-top: 1.2rem;
    height: 0.4rem;
    width: 30%;
    // border: 1px solid black;
    position:relative;
    right: 0;

    // transform: rotate(-5deg) skew(3deg) translate3d( 0, 0, 0);
    
    // text-align: right;
    // background: black;
  }

  .category__individual {
    margin-top: 1.2rem;

    .category__header {
      color: white;
      
      border-top: 2px solid black;

      // overflow: hidden;
      height: 8rem;
      
      position: relative;

      .category__display__name {
        margin: 0;

        font-size: 6rem;
                
        position: absolute;
        top: -30px;

        text-shadow: 2px 2px #9c3fff;
        
      }
      
      .category__description__background {
        position: absolute;
        top: 70px;
        left: 34px; 

        height: 3rem;
        width: 88.3%;
        background: black;


        // transform: skew(-20deg);

        margin-left: 4.2rem;
        
        // .category__description__background__two {
        //   display: flex;
        //   position: absolute;
        //   top: 10px;
        //   left: -83px;   
        //   z-index: -5;

        //   width: 50%;
        //   height: 100%;
        //   background: black;
        //   // transform: skew(-20deg);
        //   margin-left: 5.2rem;
          
        // }

        .category__description__tip {
          width: 20px;
          clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 0% 100%);
          height: 100%;

          left: -15px;
          background: black;

          position: relative;
        }


        .category__description {

          // transform: skew(20deg);
          margin-left: 1rem;
          padding-left: 5px;

          font-family: 'Slabo 13px', serif;
          font-weight: 100;
  
          position: relative;
          top: -4.6rem;
          font-size: 2rem;
        }  
      }
    }
  }
}


// PROJECT

.project__outer {    
  position: relative;

  display: flex;
  height: 30rem;
  overflow-y: auto;

  border-top: 1px solid white; 
  border-bottom: 1px solid white; 

}


.project__outer__colour {
  position: absolute;
  top: 0;
  left: 0;

  height: 52%;
  width: 90px;
}

.project__individual:last-child {
  border-right: 1px solid white;         
}

.project__individual {
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.1);

  background: white;
  // background: lightgrey;


  border-left: 1px solid white; 

  transform: skew(-20deg);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  
  text-decoration: none;
  


  .project__background__image {
    background: grey;

    position: absolute;
    top: 10px;
    left: -10px;
    height: 95%;
    width: 100%;
  }

  .project__display__name {          
    transform: skew(20deg) rotate(-69deg) translate3d( 0, 0, 0);
    text-align: center;
    width: 250px;

    -moz-white-space: pre-wrap;
    -o-white-space: pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;

    font-size: 1.5rem;

    padding: 0.5rem;
    // border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
  
  }  

  .project__year {
    position: absolute;
    left: 20px;
    top: 80px;
    text-align: center;
  
    transform: skew(20deg) rotate(-69deg) translate3d( 0, 0, 0); //rotate(-69deg) 
    width: 100px; 
    
    color: white;
  }

  .project__description {
    position: absolute;
    text-align: center;
    
    transform: skew(20deg) rotate(-69deg) translate3d( 0, 0, 0);
    width: 100px; 
    
    color: white;
  
    right: -50px;
    width: 250px;
    // text-align: right!important;
  // font-family: 'Slabo 13px', sans-serif;
    
  }
  

  .project__number {
    
  }
}


.category__description__background__hero {
  background: white!important;

  .category__description {
    // text-shadow: 3px 3px #9c3fff;
    color: black;

  }
}

.category__display__name__hero {
  top: 50px!important;
}

.project__description__hero {
  position: absolute;
  text-align: center;
  // text-decoration: underline #9c3fff;
  
  
  transform: skew(20deg) rotate(-69deg) translate3d( 0, 0, 0);
  width: 100px; 
  
  color: white;

  right: -50px;
  width: 250px;
  // text-align: right!important;
}


.category__header__hero,
.project__outer__hero__colour,
.project__outer__hero {
  background: black;
  background-image: url("../images/cool/cool1.jpg");
  background-size: cover;

  .category__description__tip {
    background: white!important;
  }

  .project__individual:hover {
    background: black;
    border-left: 1px solid black;
    // min-width: 320px;
  }

  .project__individual:hover > .project__display__name {
    color: black;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
  }
  .project__individual {
    border-right: 1px solid black;    

    // .project__background__image {
    //   border-right: 1px solid black;
    //   border-top: 1px solid black;
    // }

    .project__display__name {
      color: white;
    }

  }

  .category__description {
    text-decoration: underline #9c3fff;
  }
}


.category__header__hero {
  background-image: url("../images/cool/cool1.jpg");
  background-size: cover;
  
}

.project__outer__hero {
  background-image: url("../images/cool/cool1.jpg");
  background-size: cover;
  
}

.category__header__programming,
.project__outer__programming__colour,
.project__outer__programming {
  background: cyan;

  .project__individual:hover {
    background: cyan;
    border-left: 1px solid cyan;
    // min-width: 320px;
  }
  .project__individual:hover > .project__display__name {
    color: cyan;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

  }
  .project__individual {
    border-right: 1px solid cyan;    

    // .project__background__image {
    //   border-right: 1px solid cyan;
    //   border-top: 1px solid cyan;
    // }

    .project__display__name {
      color: white;
      // text-decoration: underline yellow;
    }

    .project__description {
      text-decoration: underline cyan;
    }

  }

  .category__description {
    text-decoration: underline cyan;
  }
}


.category__header__writing,
.project__outer__writing__colour,
.project__outer__writing {
  background: yellow;

  .project__individual:hover {
    background: yellow;
    border-left: 1px solid yellow;
    // min-width: 320px;
  }
  .project__individual:hover > .project__display__name {
    color: yellow;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

  }
  .project__individual {
    border-right: 1px solid yellow;    

    // .project__background__image {
    //   border-right: 1px solid yellow;
    //   border-top: 1px solid yellow;
    // }

    .project__display__name {
      color: white;
      // text-decoration: underline #ff33f5;
    }


    .project__description {
      text-decoration: underline yellow;
    }


  }

  .category__description {
    text-decoration: underline yellow;
  }
  
}


.category__header__youtube,
.project__outer__youtube__colour,
.project__outer__youtube {
  background: #ff33f5;  

  .project__individual:hover {
    background: #ff33f5;
    border-left: 1px solid #ff33f5;
    // min-width: 320px;
  }
  .project__individual:hover > .project__display__name {
    color: #ff33f5;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

  }
  .project__individual {
    border-right: 1px solid #ff33f5;    

    // .project__background__image {
    //   border-right: 1px solid #ff33f5;
    //   border-top: 1px solid #ff33f5;
    // }

    .project__display__name {
      color: white;
      // text-decoration: underline #3afa14;      
    }

    .project__description {
      text-decoration: underline #ff33f5;
    }

  }

  .category__description {
    text-decoration: underline #ff33f5;
    
  }
}

.category__header__podcast,
.project__outer__podcast__colour,
.project__outer__podcast {
  background: #3afa14;  

  .project__individual:hover {
    background: #3afa14; 
    border-left: 1px solid #3afa14;
    // min-width: 320px;    
  }
  .project__individual:hover > .project__display__name {
    color: #3afa14;
    border-left: 1px solid white;
    border-bottom: 1px solid white;

  }
  .project__individual {
    border-right: 1px solid #3afa14;    

    // .project__background__image {
    //   border-right: 1px solid #3afa14;
    //   border-top: 1px solid #3afa14;
    // }

    .project__display__name {
      color: white;
      // text-decoration: underline #7C24FD;            
    }

    .project__description {
      text-decoration: underline #3afa14;
    }

  }

  .category__description {
    text-decoration: underline #3afa14;
  }
}


.category__header__radio,
.project__outer__radio__colour,
.project__outer__radio {
  background: #7C24FD;

  .project__individual:hover {
    background: #7C24FD;
    border-left: 1px solid #7C24FD;
    // min-width: 320px;
  }
  .project__individual:hover > .project__display__name {
    color: #7C24FD;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
  }
  .project__individual {
    border-right: 1px solid #7C24FD;    

    // .project__background__image {
    //   border-right: 1px solid #7C24FD;
    //   border-top: 1px solid #7C24FD;
    // }

    .project__display__name {
      color: white;
      // text-decoration: underline cyan;
    }

    .project__description {
      text-decoration: underline #7C24FD;
    }

  }

  .category__description {
    text-decoration: underline #7C24FD;
  }
  
}


.slash__degree {
  display: inline-block;
  transform: skew(-12deg);
}

@media screen and (max-width: 950px) {
  .slash__degree {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  .category__outer .category__individual .category__header .category__description__background .category__description {
    font-size: 1.6rem;
    top: -3.8rem;
  }
  .category__outer .category__individual .category__header .category__display__name {
    font-size: 5rem;
    top: -20px;
  }
}

@media screen and (max-width: 600px) {
    .project__individual {
      .project__display__name {
        // width: 220px;
      }
      .project__year {
        left: 10px;
      }
    }

    .category__outer .category__individual .category__header {
      // height: 11rem;

      .category__display__name {
        top: 0.2rem;
        font-size: 4rem;
      }
      
      .category__description__background {
        // height: 6rem;
        width: unset;
        left: -65px;
        padding-right: 1rem;

        .category__description {
          // top: -6.8rem;
        }
      }
    }
}

@media screen and (max-width: 440px) {
  .category__outer .category__individual .category__header .category__description__background .category__description {
    font-size: 1.2rem;
    top: -3.2rem;
    left: -10px;
  }
  .category__outer .category__individual .category__header .category__display__name {
    font-size: 3rem;
    top: 0.6rem;
  }

}

@media screen and (max-width: 340px) {
  .category__outer .category__individual .category__header .category__description__background .category__description {
    // font-size: 0.95rem;
    font-size: 0.5rem;
    top: -2.8rem;
    left: -10px;
  }

  .category__outer .category__individual .category__header .category__display__name {
    font-size: 2.75rem;
    top: 1rem;
  }
}