<footer class="">
    <small class="">© 2016 <b class="">Julius Reade</b>., All Rights Reserved</small>
    <div class="">
        <a href="/language/" title="Language" class="">Language</a>
        <a href="/terms/"    title="Terms" class="">Terms of Use</a>
        <a href="/privacy/"  title="Privacy" class="">Privacy</a>
    </div>
</footer>
      