<div class="categories__project__container">

    <%= Enum.map(@projects, fn(project) -> %>
        <div class="project__container">
            <h3><%= project.display_name %></h3>

        </div>

    <% end) %>

</div>
