<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render_partial "head.html", assigns %>        
  </head>

  <body>
    <main>
        <%= render @view_module, @view_template, assigns %>
    </main> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
  </body>
</html>
